{% extends "core/with_navbar.html" %}

{% block title %}Add a Recipe{% endblock %}

{% block content %}
<div class="content-block">
    <h3>Add a Recipe</h3>
</div>
<div class="content-block">
  <div class="content-middle">
    <form method="POST">
      {% csrf_token %}
      <table class="form-table">
        {% include "core/form.html" %}
      </table>
      <div class="w-100 pt-2 text-right">
        <button id="submit_recipe" type="submit" class="btn btn-primary">Add Recipe</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
