{% extends "core/with_navbar.html" %}

{% block title %}Recipes{% endblock %}

{% block content %}
<div class="content-block">
  <div class="content-options">
    <div>
      <i class="fa-solid fa-circle-plus text-success icon"></i>
      <a id="add_recipe" class="with-icon text-secondary" href="{% url "recipes:add_recipe" %}">Add a recipe</a>
    </div>
  </div>
</div>
<div class="content-block">
    <h3>Your Recipes</h3>
</div>
<div class="content-block">
  <div class="listing">
    <div class="header">
      <div class="field-title">Name</div>
      <div class="field-small">Creator</div>
    </div>
    {% for recipe in recipes %}
    <div class="recipe body">
      <div class="id d-none">{{ recipe.id }}</div>
      <div class="name field-title"><a class="text-dark" href="{% url "recipes:recipe" recipe.id %}">{{ recipe.name }}</a></div>
      <div class="creator field-small">{{ recipe.creator }}</div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
