{% extends "core/with_navbar.html" %}

{% block title %}{{ recipe.name }}{% endblock %}

{% block content %}
<div class="content-block">
  <div class="content-options">
    <div>
      <a class="text-secondary" href="{% url "recipes:recipes" %}">
        <i class="fa-solid fa-xmark icon"></i>Back
      </a>
    </div>
    <div>
      <a id="edit_recipe" class="text-secondary" href="{% url "recipes:edit_recipe" recipe.id %}">
        <i class="fa-solid fa-pen-to-square icon"></i>Edit
      </a>
    </div>
  </div>
</div>
<div class="content-block">
  <div class="content-filler"></div>
  <div class="content-main one-column detail">
    <h3>{{ recipe.name }}</h3>
    <label>Category:</label>
    {{ recipe.category.name }}
    <label>Description:</label>
    <div class="description">
      {% if recipe.description %}
        {{ recipe.description }}
      {% else %}
        No description
      {% endif %}
    </div>
    {% if recipe.url %}
    <label>Url:</label>
    <div class="url">
        <a href="{{ recipe.url }}" target="_blank" rel="noopener noreferrer">{{ recipe.url }}</a>
    </div>
    {% endif %}
  </div>
  <div class="content-filler"></div>
</div>
{% endblock %}
