{% extends "core/root.html" %}

{% block title %}Login{% endblock %}

{% block body-tags %}class="no-scroll bg-meals-dark"{% endblock %}

{% block body %}
<div class="container d-flex h-100">
  <div class="card mx-auto my-auto">
    <div class="card-body">
      <div class="card-title text-center">
        <h3>Please log in</h3>
      </div>
      <form method="POST" class="one-column">
        {% include "core/form.html" %}
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
