:root {
  --color-dark: #232323;
  --color-light: #DFDFDF;
  --color-very-light: #EAEAEA;
  --color-success: #229922;
}

body.no-scroll {
  height: 100vh;
}

.navbar {
  background-color: var(--color-dark);
  color: white;
}

#content {
  display: flex;
  flex-direction: column;

  margin-bottom: 20px;
}

.content-block {
  padding: 15px 20px 0px;

  display: flex;
  flex-direction: row;
}

.content-options {
  width: 100%;

  display: flex;
  flex-direction: row-reverse;
}

.content-filler {
  flex: 1 1 auto;
}

.content-main {
  flex: 0 1 800px;

  display: flex;
  flex-direction: column;
}

form.one-column {
  display: flex;
  flex-direction: column;
}

form.one-column label {
  font-weight: bold;

  margin-top: 10px;
}

form.one-column button {
  margin-top: 20px;
}

.bg-meals-dark {
  background-color: var(--color-dark);
}

i.icon {
  vertical-align: middle;
  line-height: inherit;
  padding-right: 5px;
}

.field-error, .non-field-error {
  color: red;
}


.listing-table {
  width: 100%;
  table-layout: fixed;
}

.listing-table tr {
  background-color: var(--color-light);
}

.listing-table tr:nth-child(even) {
  background-color: var(--color-very-light);
}

.listing-table th {
  background-color: var(--color-dark);
  color: white;
  padding: 5px 10px;
}

.listing-table td {
  padding: 5px 10px;
}

.message.success {
  background-color: var(--color-success);

  text-align: center;
  padding: 5px;
}
